h1 {
	color: purple;
	background-color: mediumsslateblue;
}

h2 {
	color: slateblue;
}

h3 {
	color: cornflowerblue;
}

img {
	margin-right: 425px;
}	

a {
	margin-right: 425px;
}

p {
	margin-right: 425px;
	background-color: mistyrose;
}

div {
	background-color: papayawhip;
}