<!DOCTYPE html>
<link rel = "stylesheet" href = "stylegamedev.css">
<html>

	<head>
	
		<title> Evan Kusko </title>
		
		<meta name = "viewport" content = "width = device width, initial-scale = 1.0">
		<meta charset = "UTF-8">
		<meta http-equiv = "refresh" content = "300">
		
		<!-- Navbar begins -->
		
		<header>
			
			<div class="navbar">
			  
				<h1 class="logo"> Evan Kusko </h1>

				<nav>
				
					<ul style = "font-family: archerbold">
					
						<li> <a href = "" > HOME </a> </li>
						<li> <a href = "#" > DOWNLOADS </a> </li>
						<li> <a href = "#" > LICENSING </a> </li>
						<li> <a href = "#" > CONTACT </a> </li>
				
					</ul>
				
				</nav>
			
			</div>
		
		</header>
		
		<!-- End of navbar -->
	
		<div class = "pagename">
		
			<h1> Evan Kusko </h1>
			
		</div>
		
	</head>
	
	<body>
		
		
	
	</body>
	
</html