<!DOCTYPE html>
<link rel = "stylesheet" href = "styletemplate.css">
<html lang ="en">

	<head>
	
		<title> Evan Kusko </title>
		
		<meta name = "viewport" content = "width = device width, initial-scale = 1.0">
		<meta charset = "UTF-8">
		<!-- removed for accessibility <meta http-equiv = "refresh" content = "300"> -->
		
		<meta name = "description" content = "Resume, porfolio, and creative works">
		<meta name = "keywords" content = "Evan Kusko, resume, portfolio, game design, writing">
		<meta name = "author" content = "Evan Kusko">
		
		<!-- Navbar begins -->
		
		<header>
			
			<div class="navbar">
			  
				<h1 class="logo"> Evan Kusko </h1>

				<nav>
				
					<ul style = "font-family: archerbold">
					
						<li> <a href = "" > HOME </a> </li>
						<li> <a href = "#" > DOWNLOADS </a> </li>
						<li> <a href = "#" > LICENSING </a> </li>
						<!-- <li> <a href = "#" > CONTACT </a> </li> to be implemented later -->
				
					</ul>
				
				</nav>
			
			</div>
		
		</header>
		
		<!-- End of navbar -->
	
		<div class = "pagename">
		
			<h1> Evan Kusko </h1>
			
		</div>
		
	</head>
	
	<body>
		
		
	
	</body>
	
</html>